<!doctype html>
<html lang="en">

<head>
  {{ partial "meta.html" . }}
  <script src="/Waveform/Waveform.js"></script>
  <link rel="stylesheet" type="text/css" href="/Waveform/Waveform.css">
  <link rel="stylesheet" type="text/css" href="/Waveform/PlayerUI.css">
</head>

<body>
  <div class="Container">
    {{ partial "episode-header.html" . }}
    <main class="Main Episode__Main">

      <div class="Fixed__Width Episode__Fixed">
        <div class="Episode__Container">
          <div class="Episode__Heading">
            <span>{{ .Date.Format "2 Jan 2006" }}</span>
            <h2>{{ .Title }}</h2>
          </div>
          <figure class="Waveform"></figure>
          <div class="scc">
            <audio id="WaveformAudio" src="{{ .Site.Params.yandexS3 }}{{.Params.Audio}}" controls="controls" preload="auto">
            </audio>
            <script>
              // add "{{ .Site.Params.yandexS3 }}" like it's in #WaveformAudio
              // and to /episodes/*.md:waveform relative to s3
              const waveformPath = "/waveforms/{{ $.Params.Waveform}}";

              setTimeout(() => {
                const waveform = new PodcastPlayer({
                  $waveform: document.querySelector('.Waveform'),
                  $audio: document.querySelector('#WaveformAudio'),
                  title: "{{ .Params.title }}",
                  waveformPath,
                  height: 70,
                });
              });
            </script>
            <!-- <div>
            <label for="pbrate">Speed:</label>
            <input type="range" id="pbrate" min=.5 max=2 value=1 step=.1>
            <span></span>
          </div> -->
          </div>
          <div class="Episode__Contents">
            {{ .Content }}
          </div>

          <ul class="People">
            {{ range $person := .Params.people }}
            {{ if isset $.Site.Data.people $person }}
            <a href="{{ index $.Site.Data.people $person "url" }}">

              <li class="Person">
                <img class="Person__Avatar" src="{{ index $.Site.Data.people $person "image" }}">
                <div class="Person_Name">{{ $person }}</div>
              </li>
            </a>
            {{ else }}
            <li class="Person">
              <img class="Person__Avatar" src="{{ index $.Site.Data.people "unknown" "image" }}">
              <div class="Person_Name">{{ $person }}</div>
            </li>
            {{ end}}
            {{ end }}
          </ul>
        </div>
      </div>
    </main>

    <!-- <div class="giscus"></div> -->


    {{ partial "footer.html" . }}
  </div>
  {{ partial "script.html" . }}

  <!-- <script src="https://giscus.app/client.js" data-repo="javaswag/javaswag.github.io" data-repo-id="R_kgDOHhEUlg"
    data-category="Announcements" data-category-id="DIC_kwDOHhEUls4CTtjR" data-mapping="og:title" data-strict="1"
    data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="light" data-lang="en"
    data-loading="lazy" crossorigin="anonymous" async> -->
    </script>
</body>

</html>