<footer class="Footer">
  <div class="Fixed__Width">
    <div class="Footer__Item">
      <h2>{{ .Site.Title }} <img src="/img/sunglasses.png" alt="sunglasses image"></h2>
      <p>{{ .Site.Params.Desc }}</p>
      <!-- <a href="{{ .Site.Params.twitter }}" class="twitter-follow-button" data-show-count="false"
        data-show-screen-name="false">Follow {{ .Site.Params.twitterName }}</a> -->
    </div>
    <div class="Footer__Item">
      <ul>
        <li>
          <a href="{{ .Site.Params.itunes }}" target="_blank">
          <img src="/img/Apple Podcasts.png" alt="icon">
          <span>Apple</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.android }}" target="_blank">
          <img src="/img/Google Podcasts.png" alt="icon">
          <span>Google</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.spotify }}" target="_blank">
          <img src="/img/Spotify.png" alt="icon">
          <span>Spotify</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.yandex }}" target="_blank">
          <img src="/img/yandex.png" alt="icon">
          <span>Яндекс</span>
          </a>
        </li>
        <li>
           <a href="{{ .Site.Params.feed }}" target="_blank">
          <img src="/img/RSS.png" alt="icon">
          <span>RSS</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>