{{ $ytmusic := (resources.Get "img/youtubemusic.png").Resize "40x webp q80" }}
<footer class="Footer">
  <div class="Fixed__Width">
    <div class="Footer__Item">
      <h2>{{ .Site.Title }} <img src="/img/sunglasses.png" width="40" height="14" alt=""></h2>
      <p>{{ .Site.Params.Desc }}</p>
      <!-- <a href="{{ .Site.Params.twitter }}" class="twitter-follow-button" data-show-count="false"
        data-show-screen-name="false">Follow {{ .Site.Params.twitterName }}</a> -->
    </div>
    <div class="Footer__Item">
      <ul>
        <li>
          <a href="{{ .Site.Params.itunes }}" target="_blank">
          <img src="/img/Apple Podcasts.png" width="20" height="20" alt="" loading="lazy">
          <span>Apple</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.android }}" target="_blank">
          <img src="{{ $ytmusic.RelPermalink }}" width="20" height="20" alt="" loading="lazy">
          <span>Youtube Music</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.spotify }}" target="_blank">
          <img src="/img/Spotify.png" width="20" height="20" alt="" loading="lazy">
          <span>Spotify</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.yandex }}" target="_blank">
          <img src="/img/yandex.png" width="20" height="20" alt="" loading="lazy">
          <span>Яндекс</span>
          </a>
        </li>
        <li>
           <a href="{{ .Site.Params.feed }}" target="_blank">
          <img src="/img/RSS.png" width="20" height="20" alt="" loading="lazy">
          <span>RSS</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>