<header class="Header">
  <div class="Fixed__Width">
    <div class="Header__Top">
      <img src="/img/header-img.png" alt="logo">
      <img src="/img/logo.png" alt="logo">
    </div>
    <div class="Header__Bottom">
      <h1>{{.Site.Params.MainTitle}}</h1>
      <p>{{.Site.Params.SubTitle}}</p>
      <ul>
        <li>
          <a href="{{ .Site.Params.telegram }}" style="display: block;" target="_blank">
          <img src="/img/telegram.png" alt="icon">
          <span>Telegram</span>
          </a>
        </li>
        <li>
        <li>
          <a href="{{ .Site.Params.itunes }}" style="display: block;" target="_blank">
          <img src="/img/Apple Podcasts.png" alt="icon">
          <span>Apple Podcast</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.android }}" target="_blank">
          <img src="/img/youtubemusic.png" alt="icon">
          <span>Youtube Music</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.spotify }}" target="_blank">
          <img src="/img/Spotify.png" alt="icon">
          <span>Spotify</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.yandex }}" target="_blank">
          <img src="/img/yandex.png" alt="icon">
          <span>Яндекс Музыка</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.vk }}" target="_blank">
          <img src="/img/vk.svg" alt="icon">
          <span>vk</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.castbox }}" target="_blank">
          <img src="/img/castbox.png" alt="icon">
          <span>Castbox</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.podcast }}" target="_blank">
          <span>Podcast.ru</span>
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.feed }}" target="_blank">
          <img src="/img/RSS.png" alt="icon">
          <span>RSS</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>