<!-- <script defer src="//platform.twitter.com/widgets.js"></script> -->
<!-- <script defer src="//platform.instagram.com/en_US/embeds.js"></script> -->

<script>
	var audioEls = document.getElementsByTagName('audio');
	if (audioEls.length === 1 ){
		 var audioEl = audioEls[0];
	}

	function gotoTime(time) {
		if (audioEl) {
			audioEl.currentTime = time;
			audioEl.play();
		}
	}
	
	posts = document.getElementsByTagName('p')
	for (let i = 0; i < posts.length; i++) {
		p = posts[i]
		var text = p.innerHTML;
		var hours = 0;
		var minutes = 0;
		var seconds = 0;
		var found = false;
		var replace = "-----"
		var m = text.match(/(\d{2})\:(\d{2})\:(\d{2})/); // 00:00:00
		if (m) {
			hours = parseInt(m[1]);
			minutes = parseInt(m[2]);
			seconds = parseInt(m[3]);
			replace = m[1] + ":" + m[2] + ":" + m[3];
			found = true;
		}
		var m = text.match(/(\d{2,3})\-(\d{2})/); // 00-00
		if (m) {
			minutes = parseInt(m[1]);
			seconds = parseInt(m[2]);
			replace = m[1] + "-" + m[2];
			found = true;
		}
		var m = text.match(/(\d{2,3})\:(\d{2})/); // 00:00
		if (m) {
			minutes = parseInt(m[1]);
			seconds = parseInt(m[2]);
			replace = m[1] + ":" + m[2];
			found = true;
		}
		time = hours * 3600 + minutes * 60 + seconds;
		if (found) {
			if (text.includes(replace) ) {
				var link = "<a onclick=\"gotoTime("+ time + ");\"\>" + replace + "</a>";
				newText = text.replace(replace, link);
			}
			p.innerHTML = newText;
		}
	}
</script>